<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather Journal</title>
    <link href="https://fonts.googleapis.com/css?family=Bangers&display=swap" rel="stylesheet"> 
</head>

<body>
  <h1>Travel Journal</h1>
  <div class="form">
    <label for="city">Enter your future travel destination :</label><input type="text" id="city" placeholder="example: Rome"
          required><br />
          <div id="datePicker">
            <label for="startDate">Departure : from</label>
            <input type="text" name="start" id="startDate">
            <span>to</span>
            <input type="text" name="end" id="endDate">  
          </div>
      <input type="submit" value="Submit" id="generate" class="button">
  </div>
</body>
</html>