<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Travel Journal</title>
  <link href="https://fonts.googleapis.com/css?family=Bangers&display=swap" rel="stylesheet">
</head>

<body id="body">
  <h1>Travel Journal</h1>
  <div class="wrapper">
    <div class="form">
      <div class="input-field">
        <h2>Log your next travel</h2>
        <!--<label for="city">Enter your travel destination : </label>!-->
        <input type="text" id="city" class="input" placeholder="Destination" required><br />
        <!--<label for="datepicker">Departure date : </label>!-->
        <input type="text" id="datepicker" class="input" placeholder="Departure date">
        <input type="submit" value="Submit" id="generate" class="input button">
      </div>
      
    </div>
  </div>
  <div class="cards-holder" id="cardParent">
      </div>
</body>

</html>