$bg-gradient: linear-gradient(.25turn, rgb(193, 20, 50) 0%, rgb(44, 11, 54) 100%);
$text-color: rgb(194, 23, 52);
$mobile: 760px;

.cards-holder {
  display: flex;
  justify-content: flex-start;
  color: black;
  flex-wrap: wrap;
  margin: 70px 0 0 30px;

  .card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 195px;
    position: relative;
    margin: 30px 20px 10px 20px;
  }
}

.card-top {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0;
  width: 195px;
  height: 195px;

  .image {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    object-fit: cover;
  }

  .days {
    position: absolute;
    text-align: center;
    background: $bg-gradient;
    color: white;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .delete {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(30%, -30%);
    background: $bg-gradient;
    border: 0;
    color: white;
    height: 31px;
    width: 31px;
    cursor: pointer;
    box-shadow: 5px 5px rgb(44, 11, 54);
  
    .fas {
      pointer-events: none;
      position: relative;
    }
  }
}

.card-bottom {
  width: 100%;
  margin-top: 10px;

  .place {
    border-bottom: 2px solid $text-color;
    color: $text-color;
    width: 100%;
  
    h2, h3 {
      margin: 0;
      font-weight: 400; 
    }
  
    h3 {
      opacity: .5;
      margin-bottom: 10px;
    }
  }

  .infos {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
}

//Weather icons colouring
.cloud-showers-heavy {
  color: #15AABF;
}

.sun {
  color: #ff9900;
}

.snowflake {
  color: #33ffff;
}

.wind {
  color: #4d4dff;
}

.smog {
  color: #666699;
}

.cloud {
  color: #334d4d;
}

.cloud-rain {
  color: #00004d;
}

.fa-thermometer-half {
  color: rgb(251, 78, 80);
}

.fa-calendar-alt {
  color: #262626;
}

@media (max-width: $mobile) {
  .cards-holder {
    margin: 0;
    align-items: center;
    justify-content: space-evenly;
  }

  .card{
    width: 100%;
    margin: 0;
  }
}