$pd-title-color: rgb(64, 131, 157);
$pd-title-bg: rgba(255,255,255,0);
$pd-picker-bg: rgba(255,255,255,.8);
$pd-day-bg: rgba(255,255,255,.8);
$pd-day-hover-bg: rgba(64, 131, 157, .5);
$pd-day-today-color: rgb(64, 131, 157);
$pd-day-selected-bg: rgb(64, 131, 157);
$pd-day-selected-shadow: transparent;

$bg-gradient: linear-gradient(.25turn, rgb(193, 20, 50) 0%, rgb(44, 11, 54) 100%);

@import 'pikaday/scss/pikaday.scss';

body {
  font-family: 'Poppins', sans-serif;
  color: white;
  max-width: 50%;
  margin: auto;
}

h1{
  text-align: center;
  font-size: 3em;
  text-transform: uppercase;
  background: linear-gradient(rgb(193, 20, 50) 0%, rgb(44, 11, 54) 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.wrapper {
  width: 100%;
  line-height:  1.6; 
}

.form {
  background: $bg-gradient;
  display: flex;
  flex-direction: column;
  box-shadow: 20px 20px black;
  
  h2 {
    margin-left: 5%;
  }
}

.input-field {
  padding: 20px;
  border-top: 2px solid white;
  display: flex;
  justify-content: space-between;
  position: relative;
}

/* label {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  transition: 0.2s;
}

.input:focus + label {
  bottom: 100%;
  margin-bottom: -16px;
} */



.input {
  margin: 30px;
  background: transparent;
  border: 0;
  border-bottom: 2px solid white;
  color: white;
  width: 25%;
  font-family: 'Poppins', sans-serif;
    opacity: 1;

  &::placeholder {
    color: white;
    font-family: 'Poppins', sans-serif;
    opacity: 1;
  }
}


.button{
  font-family: 'Poppins', sans-serif;
    border: .5px solid transparent;
    background: white;
    padding: 15px 35px 15px 35px; 
    cursor: pointer;
    text-transform: uppercase;
    color: rgb(39, 11, 54);
    transition: 0.25s;

    &:hover{
      background: transparent;
      border: .5px solid white;
      color:white;
  }
}
